.banner {
  background-size: cover;
  color: white;
  height: 550px;
  display: flex;
  align-items: center;
}

.container {
  width: 800px;
  margin: 30px auto;
}

.container > p {
  color: #B3B3B4;
  font-size: 1.1rem;
  margin-bottom: 40px;
}